$color:rgba(0, 0, 0, 1);
$sofia: 'Sofia Pro', sans-serif;
$circular:'Circular Std Book', sans-serif;
html{
    font-size:62.5%;
    font-family: 'Sofia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $color;
    height:100%;

}
body{
    height: 100%;
}
*{
    box-sizing: border-box;
}
a{
    color: $color;
    text-decoration: none;
}

button, input{
    background-color:transparent;
    border: none;
    outline: none;
    color: $color;
    font-family: $circular;
}
button{
    cursor: pointer;
}
img{
    width: 100%;
    height: auto;
}

h2{
    font-size:3rem;
    font-weight: 800;
}
//----------------------------------------side bar--------------------------------------------

.container {
    display: flex;
    height:auto;
}
.sidebar{
    flex:1;
    width: 25.2rem;
    height: 100%;
    position:fixed;

    &__wrapper{
        margin:5rem;
        
    }
    &__logo{
        font-size: 2.1rem;
        font-family:$circular;
        margin-bottom: 5.7rem;
    }
    &__menu{
        &--title{
            margin-bottom: 4.4rem;
        }
        &--list{
            display: flex;
            flex-direction: column;
            >:last-child{
               position:absolute;
               bottom:5rem;
            }
        }
        &--item{
            margin-bottom: 2.7rem;
        }
        &--item>a{
            display:flex;
            align-items: center;
          
        }
        &--desc{
            margin-left: 1.2rem;
        }

    }

}



//----------------------------------------menu top--------------------------------------------

.content{
    width: 100%;
    &__wrapper{
    margin: 5rem 5rem 6rem 25rem;
}
}
.top__menu{
    font-size:1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    &__list{
        display: flex;
        justify-content: space-between;
        &--wrapper{
            margin-left: 4.7rem;
        }
        >:not(:last-child){
            margin-right: 4.2rem;
        }
    }
    &__dropdown{
        margin-left: 4.7rem;
        display: flex;
    }
    &__search{
        flex: 1;
        display:flex;
        align-items: stretch;

    }
    &__search--button{
        padding:0rem .5rem;
        cursor: pointer;
    }
    &__search--input{
       width: 100%;
        height:auto;
        margin-left: 1rem;
    }
    &__search--input::placeholder{
        opacity: 0.2;
    }
  
}


.dropdown{
    &__cart{
        margin-left: 4.7rem;
    }

    &__account{
        margin-left: 2.5rem;
        position: relative;

    }
    &__hidden{
        left: -50%;
        position: absolute;
        display: none;
   
    }
    &__hidden--login{
        margin-top: .5rem;
        display:block;
        width:7rem;

    }
}

.grid{
    margin-top: 6.6rem;
    width: 100% ;
    height:78rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2.1rem;
    >div{
        overflow: hidden;
        border-radius: 15px;
        position: relative;
        display:flex;
        align-items: center;

    }
        &__item--1 {
             grid-area: 1 / 1 / 2 / 3; 
             background-image: url(./img/grid_1.png);
             background-size: cover;
             justify-content: center;
             >p{
                 font-size:3rem;
                 font-weight:800;
             }
        }
        &__item--2 { 
             grid-area: 2 / 1 / 3 / 3;
             background-image: url(./img/grid_2.png);
             background-size: cover;
        }
        &__item--3 { 
            grid-area: 1 / 3 / 3 / 4;
             background-image: url(./img/grid_3.png);
            background-size: cover;


        }
        &__item--4 {
                grid-area: 1 / 4 / 3 / 5;
             background-image: url(./img/grid_4.png);
              background-size: cover;
            }
        &__item--5 { 
            grid-area: 3 / 1 / 5 / 2;
            background-image: url(./img/grid_5.png);
            background-size: cover;
        }
        &__item--6 {
                grid-area: 3 / 2 / 5 / 3;
                background-image: url(./img/grid_6.png);
                background-size: cover;
            }
        &__item--7 {
                grid-area: 3 / 3 / 4 / 5;
                background-image: url(./img/grid_7.png);
                background-size: cover;
                >div>.grid__item--title{
                    color: rgba(0, 26, 162, 1);
                }
            }
        &__item--8 { 
            grid-area: 4 / 3 / 5 / 5;
            background-image: url(./img/grid_8.png);
            background-size: cover;
            background-position: 11rem;
            >div>.grid__item--title{
                color: rgba(253, 46, 36, 1);

            }
        }
        &__item--heart{
            position: absolute;
            top:2rem;
            right: 2rem;
            border-radius: 50%;
            padding:1rem;
            background-color: #fff;
            cursor: pointer;
        }
        &__item--inner{
        
                margin-left: 3rem;

        }
        &__item--title{
            font-size:2.6rem;
            font-weight:800;
            margin-bottom: 2rem;
            line-height: 4rem;
        }
        &__item--desc{
            font-size:1.5rem;
            font-weight: 400;
            line-height: 2.3rem;

        }
}
